*{
    box-sizing:border-box;
    margin:0;
    padding:0;
}

html,body{
    width:450px;
    font-family: "open sans";
}

.container{
    margin-top:15px;
    display:flex;
    flex-direction: column;
    align-items: center;
    
    
}



.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1.5rem;
    margin-bottom: 10px;
    font-family: monospace;
    margin-left: -15px;
}

.header > i{
    font-size: 2.5rem;
}

.header > i{
    margin-right: 20px;
}

.links-container{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width:70%;
    margin-left: -17px;
    margin-bottom: 15px;
}


.icon{
    width:120px;
    font-size: 2.2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.desc{
    
    margin-left: -12px;
}

.icon > i:hover{
    cursor: pointer;
}

a:link,
a:visited{
    color:#000;
}

.desc > h3{
    margin:15px 0px;
}